@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
  min-width: 360px;
}

body {
  font-family: "Jost", sans-serif;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  .slick-dots > ul > li > button:before {
    color: white;
  }
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dots > ul > li > button:before {
  font-size: 14px;
}

.slick-active > button:before {
  color: #f87315 !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin-bottom: 1rem;
}

.slick-slide > div {
  height: 100%;
}

.prose {
  pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-700;
  }

  > blockquote pre {
  }

  > pre {
    @apply mb-4;
  }

  > ol > li pre {
    @apply my-2;
  }

  pre code {
    @apply text-neutral-800 dark:text-neutral-100 font-mono text-sm;
  }

  code {
    @apply p-[1rem] rounded-lg;
  }

  pre code {
    @apply p-[1rem];
    border: initial;
    line-height: 1.5;
  }

  code span {
    @apply font-medium;
  }

  img {
    @apply m-0;
  }

  h2,
  h3,
  h4 {
    @apply font-medium tracking-tighter !important;
  }

  strong {
    @apply font-medium;
  }

  > :first-child {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  .anchor {
    @apply absolute invisible no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible;
  }

  .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
  }

  *:hover > .anchor {
    @apply visible;
  }

  a {
    @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
  }

  .callout > p {
    margin: 0 !important;
  }

  .tweet a {
    text-decoration: inherit;
    font-weight: 500;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
