@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dots > ul > li > button:before {
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  .slick-dots > ul > li > button:before {
    color: white;
  }
}

.slick-active > button:before {
  color: #f87315 !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin-bottom: 1rem;
}

.slick-slide > div {
  height: 100%;
}
